
demoresourcemanagement/src/main/resources/application.yml
demoresourcemanagement/src/main/resources/application.yml
ResourceManagementBackend/src/main/resources/application.yml
ResourceManagementBackend/src/main/resources/application.yml
