<p-table #dt [value]="resourceRowList" dataKey="id"
        [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25]" [loading]="isLoading"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [filterDelay]="0" [globalFilterFields]="['name','code']">

        <ng-template pTemplate="caption">
            <p-toolbar>
                <div class="p-toolbar-group-left">
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Keyword" />
                <p-button icon="pi pi-search"></p-button>
            </div>
                <h3>Resource Catalog</h3>
                <div class="p-toolbar-group-right">
                    <button type="button" pButton icon="pi pi-plus" (click)="menu.toggle($event)"></button>
                </div>
        </p-toolbar>
        <p-menu appendTo="body"  #menu [popup]="true" [model]="items"></p-menu>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>RESOURCE NAME</th>
                <th>RESOURCE CODE</th>
                <th *ngFor="let header of headers">
                    {{header.resourceColumnName}}
                        <i style="float: right;"  class="fas fa-caret-down"  (click)="colMenu.toggle($event)"></i>
                        <p-menu appendTo="body"  #colMenu [popup]="true" [model]="editColumnMenu"></p-menu>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-resourceRow>
            <tr>
                <!-- <i *ngIf="isNewRow" class="fas fa-check-circle"></i>
                <i *ngIf="isNewRow" class="fas fa-times-circle"></i> -->
                <td class="item-data" pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="resourceRow.resource.name" (keyup)="itemUpdated(item)">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{resourceRow.resource.name}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td class="item-data" pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="resourceRow.resource.code" (keyup)="itemUpdated(item)">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{resourceRow.resource.code}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                
                <td class="item-data" pEditableColumn *ngFor="let item of resourceRow.itemList">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="item.resourceExtraItemValue" (keyup)="itemUpdated(item)">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{item.resourceExtraItemValue}}
                        </ng-template>
                    </p-cellEditor>
                </td>
            </tr>
        </ng-template>


        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">No data found.</td>
            </tr>
        </ng-template>
        
    </p-table>
    <p-button [style]="{width:'auto'}" label="Submit"></p-button>
    <p-button [style]="{'width':'auto', 'padding-left':'1rem'}" label="Discard"></p-button>

<!-- Add New Column Modal   -->
<form  (ngSubmit)="onSubmitColumn()">
<p-dialog header="Add New Column" [(visible)]="displayModalColumn" [modal]="true" [style]="{width: '30vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
        <label for="columnName">Column Name: </label>
        <input id="columnName" name="newColName" type=text [(ngModel)]="newColName"/>
        <ng-template pTemplate="footer">
            <p-button label="Add" type="button "class="p-button-text"></p-button>
            <p-button (click)="displayModalColumn=false" label="Cancel"></p-button>
        </ng-template>
</p-dialog>
</form>

<!-- Import CSV File -->
<form  (ngSubmit)="onSubmitFile()">
    <p-dialog header="Import File" [(visible)]="displayModalCSV" [modal]="true" [style]="{width: '30vw'}" [baseZIndex]="10000"
        [draggable]="false" [resizable]="false">
            <label for="file">Choose File </label><br>
            <input id="file" name="file" type=file/>
            <ng-template pTemplate="footer">
                <p-button label="Import" type="button "class="p-button-text"></p-button>
                <p-button (click)="displayModaCSVl=false" label="Cancel"></p-button>
            </ng-template>
    </p-dialog>
</form>