<div class="width typeface">
<form #signupForm="ngForm" (ngSubmit)="onSignup(signupForm)" appPassword>
    <p-dialog header="Thank you!" [(visible)]="display">{{message}}</p-dialog>  
        <h1 class="p-text-italic p-text-center titleColor">Sign Up</h1>

        <div class="p-field">
            <label class="p-text-bold p-d-block" for="username">Username</label>
            <input id="username" name="username" type="text" pInputText ngModel #usernameInput="ngModel" required minlength=5>
            <div *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)" class="p-invalid">
                <small *ngIf="usernameInput.errors.required">Username is required.</small>
                <small *ngIf="usernameInput.errors.minlength">Username must be at least 5 characters long.</small>
            </div>
        </div>

        <div class="p-field">
            <label class="p-text-bold p-d-block" for="password">Password</label>
            <input id="password" pPassword name="password" type="password" pInputText ngModel #passwordInput="ngModel" required> 
            <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="p-invalid">
                <small *ngIf="passwordInput.errors.required">Password is required.</small>
            </div>
        </div>

        <div class="p-field">
            <label class="p-text-bold p-d-block" for="confirmPassword">Confirm Password</label>
            <input id="confirmPassword" name="confirmPassword" type="password" pInputText ngModel #confirmPasswordInput="ngModel" required> 
            <small *ngIf="signupForm.errors?.passwordsNotEqual && confirmPasswordInput.dirty" class="p-invalid">
                Password does not match.
            </small>
        </div>

        <p-button label="Sign Up" type="submit" [disabled]="!signupForm.valid" (click)="showDialog()"></p-button>

        <p-button label="Log In" routerLink="/login"></p-button>
        
    </form>
</div>
