
<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000" [style]="{'background-color':'black','top':'6.7em','left':'0.5em','width':'16.2em'}">
    <!-- <h4 style="font-weight:normal">Left Sidebar</h4> -->


    <h4 [style]="{'font-weight':'normal','font-color':'white'}"><a class="nav-item" routerLink="/resource" (click)="visibleSidebar1 = false">Resource</a></h4>
    <h4 [style]="{'font-weight':'normal','font-color':'white'}"><a class="nav-item" routerLink="/resourceselect" (click)="visibleSidebar1 = false">Project</a></h4>
    <h4 [style]="{'font-weight':'normal','font-color':'white'}"><a class="nav-item" routerLink="/project" (click)="visibleSidebar1 = false">Formula</a></h4>

    <h4 [style]="{'font-weight':'normal','font-color':'white'}">Change Request</h4>
    <h4 [style]="{'font-weight':'normal','font-color':'white'}">Budget</h4>
    <h4 [style]="{'font-weight':'normal','font-color':'white'}">Prime Supplier</h4>
    <h4 [style]="{'font-weight':'normal','font-color':'white'}">Change Control</h4>
    <h4 [style]="{'font-weight':'normal','font-color':'white'}">Contract</h4>
    <h4 [style]="{'font-weight':'normal','font-color':'white'}">Approved Change</h4>
    <h4 [style]="{'font-weight':'normal','font-color':'white'}">Summary</h4>
</p-sidebar>
<p-button type="button" (click)="visibleSidebar1 = true" icon="pi pi-angle-right" [style]="{'background-color':'black','border':'none','border-left':'1em'}"></p-button>
