
<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000" [style]="{'background-color':'black'}">
    <!-- <h4 style="font-weight:normal">Left Sidebar</h4> -->
    <h4 [style]="{'font-weight':'normal','font-color':'white'}">Resource</h4>
    <h4 [style]="{'font-weight':'normal','font-color':'white'}">Project</h4>
    <h4 [style]="{'font-weight':'normal','font-color':'white'}">Formula</h4>
    <h4 [style]="{'font-weight':'normal','font-color':'white'}">Change Request</h4>
    <h4 [style]="{'font-weight':'normal','font-color':'white'}">Budget</h4>
    <h4 [style]="{'font-weight':'normal','font-color':'white'}">Prime Supplier</h4>
    <h4 [style]="{'font-weight':'normal','font-color':'white'}">Change Control</h4>
    <h4 [style]="{'font-weight':'normal','font-color':'white'}">Contract</h4>
    <h4 [style]="{'font-weight':'normal','font-color':'white'}">Approved Change</h4>
    <h4 [style]="{'font-weight':'normal','font-color':'white'}">Summary</h4>
</p-sidebar>
<p-button type="button" (click)="visibleSidebar1 = true" icon="pi pi-angle-right" [style]="{'background-color':'black','border':'none'}"></p-button>
