<app-project-selector></app-project-selector>
<div id="display-area">
    <div class="display-table" id="source-div">
        <div class="table-name-area">
            <span class="table-name p-text-center">Resource Catalog</span>
            <button #btn type="button" pButton class="top-button" icon="fas fa-list-ul" (click)="menu.toggle($event)"></button>
            <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
            <button pButton class="top-button" type="button" icon="fas fa-share" (click)="select()"></button>
        </div>
        <p-table [value]="resourceList" dataKey="id" >
            <ng-template pTemplate="header">
                <tr>
                    <th class="col-name" style="width: 2vw;"></th>
                    <th class="col-name">PROJECT NAME</th>
                    <th class="col-name">PROJECT CODE</th>
                    <th class="col-name p-text-center" *ngFor = "let col of resourceColumnList" >
                        {{ col.resourceColumnName | uppercase }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-resource>
                <tr>
                    <td class="item-data" style="width: 2vw;">
                        <input type="checkbox" [(ngModel)]="resource.chosen">
                    </td>
                    <td class="item-data">{{ resource.resource.name }}</td>
                    <td class="item-data">{{ resource.resource.code }}</td>
                    <td class="item-data" pEditableColumn *ngFor = "let item of resource.itemList">
                        {{ item.resourceExtraItemValue }}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="display-table" id="target-div">
        <div class="table-name-area">
            <span class="table-name p-text-center">Project</span>
            <button pButton class="top-button" type="button" icon="pi pi-trash" (click)="unselect()"></button>
        </div>
        <p-table [value]="resourceSelectedList" dataKey="id" >
            <ng-template pTemplate="header">
                <tr>
                    <th class="col-name" style="width: 2vw;"></th>
                    <th class="col-name">PROJECT NAME</th>
                    <th class="col-name">PROJECT CODE</th>
                    <th class="col-name p-text-center" *ngFor = "let col of resourceColumnList" >
                        {{ col.resourceColumnName | uppercase }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-resource>
                <tr>
                    <td class="item-data" style="width: 2vw;">
                        <input type="checkbox" [(ngModel)]="resource.chosen">
                    </td>
                    <td class="item-data">{{ resource.resource.name }}</td>
                    <td class="item-data">{{ resource.resource.code }}</td>
                    <td class="item-data" pEditableColumn *ngFor = "let item of resource.itemList">
                        {{ item.resourceExtraItemValue }}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<div id="bottom-area">
    <button pButton class="submit-button" type="button" label="Submit" icon="pi pi-check" iconPos="left" (click)="save()"></button>
</div>
